/*

============================================
CSS RESETS 

 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

============================================   
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
====================
Custom styles
====================
*/


body {
background-color: #293f50;
color: #888; 
font: 300 16px/22px Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}



/*
====================
GRID
====================
*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

.container {

margin: 0 auto;   /*centrare pe orizontala cu auto */
padding-left: 30px;
padding-right: 30px;


}

.col-1-3 {
  width: 33.33%;
  
}

.col-2-3 {
  width: 66.66%;
}


.col-1-3,
.col-2-3 {
display: inline-block;
vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.container,
.grid {
margin: 0 auto;
width: 1280px;

}

/* 
=======================
CLEARFIX pentru FLOAT
======================= 
*/


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}


/* Varianta scurta nu functioneaza fiindca adauga un spatiu deasupra headerului ! Logo are float left!
 .clearfix::after  {

content: "";
display: table;
clear: both; */


/* 
===================
ROWS
=================== 
*/
.row, 
.row-alt {
min-width: 1280px; 
}


.row {
  background: #fff;
  /* min-width: 1280px; daca folosesc doar width bkg nu depaseste dimensiunea grifului. daca pun margin:0 auto, il centreaza, dar tot la dimensiunea grid. min-width il duce pana in margeinea viewport-ului.*/
  padding: 66px 0 44px 0;
}

.row-alt {
background-color: #cbe2c1; /* fallback*/
background-image: linear-gradient(to right, #a1d3b0, #f6f1d3);
padding: 44px 0 22px 0;
}



/* 
===================
TYPOGHAPHY
=================== 
*/

h1, h3, h4, h5, p {

  margin-bottom: 22px;
}

h1, h2, h3, h4 {

  color: #648880;
} 

h1 {
font-size: 36px;
line-height: 44px;

}

h2 {
font-size: 24px;
line-height: 44px;

}

h3 {
  font-size: 21px;
}

h4 {
font-size: 18px;

}

h5 {
color: #a9b2b9;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}


/* 
===================
LEADS
=================== 
*/
.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}



/* 
===================
LINKS
=================== 
*/



a {

  color: #648880;
  text-decoration: none;
}

a:hover {
  color: #a9b2b9;
}


p a {
  border-bottom: 1px solid #dfe2e5;

}

.primary-header a,
.primary-footer a {

  color: #fff;

}

.primary-header a:hover,
.primary-footer a:hover {

  color: #648880;
}

/* 
===================
BUTTONS
=================== 
*/

.btn { 
  
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;  /*remove any margins*/
  text-transform: uppercase;
    
}

.btn-alt {
   border: 1px solid #fff;
   padding: 10px 30px;

 }

 .btn-alt:hover {
  background-color: #fff;
  background:#fff url("pencil.svg") 5px 50% no-repeat; 
  color: #648880;
  

 }

/* 
===================
Navigation
=================== 
*/

.nav {
  text-align: right;
  /* word-spacing: 2px; */
}

.nav li {

  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}

.primary-nav {

  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}



 /* 
===================
HOME PAGE
=================== 
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
    
    /* introduse de mine */
    /* margin: 10px auto;
    border-radius: 25px;
    border: 2px solid rgb(226, 6, 6, .3); */
}

.teaser img {
border-radius: 7px;
display: block;
margin-bottom: 22px;
max-width: 100%;
}


.teaser a:hover h3 {
  color: #a9b2b9;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}

/* 
===================
Speakers PAGE
=================== 
*/

.speaker-info {

border: 0.5px solid #dfe2e5;
border-radius: 7px;
margin-top: 88px;
padding-bottom: 22px;
text-align: center;

}

.speaker-info img {

border-radius: 50%;
height: 130px;
margin: -66px 0 22 px 0;
vertical-align: top;
}

.speaker {

  margin-bottom: 44px;
}


/* 
===================
Venue PAGE
=================== 
*/

.venue-theatre {
margin-bottom: 66px;
}

.venue-hotel {
margin-bottom: 22px;
}

.venue-map {
  height: 264px;
  border-radius: 25px;
}
/* 
===================
Primary Header
=================== 
*/

.logo {
    border-top: 9px solid #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    text-transform: uppercase;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}




/* 
=======================
Header pentru Spekers
======================= 
*/


/* .fixed-header {
  background-color: #dbdbdb;
  left: 0;                   /* proprietatile box offset left si right se declara OBLIGATORIU pentru a se alinia in container */
  /* right: 0;
  position: fixed;
} 
*/


/* 
===================
Primary Footer
=================== 
*/
.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-footer small {
    float: left;
    font-weight: 400;
}


/* 
===================
SVG - iconite in div, buton
=================== 
*/

.test {
width: 50%; /*jumatate din clasa .col-1-3 */  
background:url("pencil.svg") 7px 50% no-repeat;  
border: 2px solid #a1d3b0;
border-radius: 7px;
padding: 10px 0px 10px 30px;
}

/* 
===================
Seciune login
=================== 
*/

form {

  border: 1px solid #648880;
  border-radius: 7px;
  font: 14px/1.4 "Helvetica Neue", sans-serif;
  overflow: hidden;
  width: 260px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  
}

input {
border-radius: 5px;
font: 14px/1.4 "Helvetica Neue", sans-serif;
margin: 0;
}

.account-info {
  padding: 20px 20px 0 20px;
}

.account-info label {
  color: #395870;
  display: block;
  font-weight: 700;
  margin-bottom: 9px;

}

.account-info input {
  background-color: #fff;
  border: 1px solid #cbe2c1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 5px;
  margin-top: 6px;
  width: 100%;
}

.account-action {

  background-color: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 12px;
}

.account-action .login-btn{
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 16px;
}

.login-btn:hover{
  background-color: #fff;
  background:#fff;
  color: #648880;
}

.account-action label {
color: #7c7c80;
font-size: 12px;
margin: 10px 0 0 10px;
}